---
interface Props {
  label?: string;
  href?: string;
}

const { label, href } = Astro.props;
---

<li>
  <a
    class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 font-medium transition duration-300"
    href={href}><slot />{label}</a
  >
</li>
