---
import AsideMenu from "../components/AsideMenu.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Spotify Clone</title>
  </head>
  <body>
    <div id="app" class="relative h-screen p-2 gap-2">
      <aside class="[grid-area:aside] flex flex-col overflow-y-auto bg-red-200">
        <AsideMenu />
      </aside>
      <main class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto">MAIN</main>
      <footer class="[grid-area:player] min-h-[100px] bg-blue-200">PLAYER</footer>
    </div>
  </body>
</html>

<style>
  #app {
    display: grid;
    grid-template-areas:
      "aside main main"
      "player player player";
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr auto;
  }
</style>
